<!DOCTYPE html>
<html>

<body>
    <div class="grid">

        <div class="row">
            <form action="/greetings" method="POST">

                <div class="MyTextbox">

                    <input type="text" name="textBox" placeholder="  Please enter a name" class="takesText">
                </div>

                <div class="MyRadioBtn">

                    {{!-- <input type="radio" name="language" class="languageRadio" value="english">
                    <span class="label-body">English</span> --}}
                    <input type="radio" name="language" class="languageRadio" value="xhosa">
                    <span class="label-body">IsiXhosa</span>
                    <input type="radio" name="language" class="languageRadio" value="afrikaans">
                    <span class="label-body">Afrikaans</span>
                    <input type="radio" name="language" class="languageRadio" value="seSotho">
                    <span class="label-body">seSotho</span>

                    {{!-- <button class="button-primary  greetBtn" type="submit" name="button"><strong>Greet</strong></button>
                    --}}
                    {{!-- <div>Counter : <span id="counting">{{greeting.count}}</span> </div> --}}
                </div>
                <button class="button-primary  greetBtn" type="submit" name="button"><strong>Greet</strong></button>
            </form>
        </div>



        {{!--
        <form action="/greetings" method="POST"> </form>--}}

        <div class="MyTableLink">

            <table>
                <tr>
                    <td>
                        <a href="/greeted">Our Names</a>
                    </td>
                    <td>
                        <span class="ViewCount">{{greeted.names}}</span>
                    </td>
                </tr>
            </table>
            </dsiv>

            <form action="/resetBn" method="POST">

                <div class="MyResetBtn">

                    <button class="button-primary  resetBtn" type="submit" name="button"><strong>Reset</strong></button>
                    {{!-- <button class="button-primary  resetBtn" type="submit" name="button"><strong>Reset</strong></button>
                    --}}
                </div>
            </form>

            <div class="MyDisplay">

                <h2 class="displayOut"><span>{{greet}}</span></h2>
            </div>

            <div class="MyCounter">
                <div>Counter : <span id="counting">{{count}}</span> </div>
            </div>

            <div class="MyErrorMsg">
                {{#if messages.info}}
                <div class="entry" id="errorInfo">
                    <p>
                        {{messages.info}}
                    </p>
                </div>
                {{/if}}
            </div>


        </div>
</body>

</html>