<!DOCTYPE html>
<html>

<body>
    <div class="container">



        <div class="row">

        </div>

        <div class="row">
            <form action="/greetings" method="POST">
                <div class="col-8">

                    <input type="text" name="textBox" placeholder="  Please enter a name" class="takesText">
                </div>

                <div class="col-6">

                    <input type="radio" name="language" class="languageRadio" value="english">
                    <span class="label-body">English</span>
                    <input type="radio" name="language" class="languageRadio" value="xhosa">
                    <span class="label-body">IsiXhosa</span>
                    <input type="radio" name="language" class="languageRadio" value="afrikaans">
                    <span class="label-body">Afrikaans</span>
                    <input type="radio" name="language" class="languageRadio" value="seSotho">
                    <span class="label-body">seSotho</span>

                    <button class="button-primary  greetBtn" type="submit" name="button"><strong>Greet</strong></button>
                    {{!-- <div>Counter : <span id="counting">{{greeting.count}}</span> </div> --}}
                </div>
            </form>
        </div>

        {{!--
        <form action="/greetings" method="POST"> </form>--}}

        <div class="col-4">

            <h2>View Input</h2>
            <hr>
            <table>
                <tr>
                    <td>
                        <a href="/greeted">Our Names</a>
                    </td>
                    <td>
                        <span class="ViewCount">{{greeted.names}}</span>
                    </td>
                </tr>
            </table>
        </div>


        <div class="row">
            <form action="/resetBn" method="POST">

                <div class="col-8">

                    <button class="button-primary  resetBtn" type="submit" name="button"><strong>Reset</strong></button>
                    {{!-- <button class="button-primary  resetBtn" type="submit" name="button"><strong>Reset</strong></button>
                    --}}
                </div>
            </form>

        </div>

        <div class="row">
            <div class="col-8">

                <h2 class="displayOut"><span>{{greeting.greet}}</span></h2>
            </div>
            <div class="col-4">
                <div>Counter : <span id="counting">{{greeting.count}}</span> </div>
            </div>

        </div>

        <div class="row">

            <div class="col-12">
                {{#if messages.info}}
                <div class="entry" id="errorInfo">
                    <p>
                        {{messages.info}}
                    </p>
                </div>
                {{/if}}
            </div>
        </div>


    </div>
</body>

</html>